<title>{{title}}</title>
    <section class="clearfix">
        <div class="d-flex border border-1 flex-row justify-content-end align-items-center m-0 p-0">
            {{#each userData}}
                    <div class="text-primary  p-2">{{ this.nombre }}</div>
                    <div class="text-primary  p-2">{{ this.email }}</div>
                    <div class="text-primary a p-2">{{ this.age }}</div>
                    <div class=" p-2">{{ this.phone }}</div>
            {{/each}}
            <img src={{userAvatar}} class="rounded-pill"width="100">
        </div>           
    </section>